* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
}

#navbar {
    background-color: purple;
    opacity: 0.5;
}

#about {
    background-image: url('./img/about.PNG');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    color: white;
}

#skillsTools {
    background-image: url('./img/skillsTools.PNG');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    color: navy;
}

#contact {
    background-image: url('./img/contact.PNG');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#profilePic {
    max-height: 300px;
    padding-top: 20px;
    border-radius: 230px;
}

.currently,
.aboutMe,
.bold {
    color: purple;
}

.question {
    color: navy
}

.link {
    color: navy;
    text-decoration-color: purple;
    font-weight: 700;
    font-style: italic;
}

.containerIcons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.containerIcons .boxIcon {
    height: 140px;
}

.iconName {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.icon {
    background-color: transparent;
}

.stContainer {
    padding-left: 20px;
}