* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

button {
        background-color: #004080 !important;
        opacity: 0.5;
}

#navbar {
    background-color: purple !important;
    opacity: 0.8;
    min-width: 100vw; 
}

#navbar:hover,
button:hover {
    opacity: 1;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/**********************************************************************
about
************************************************************************/
#about {
    background-image: url('./img/about.png');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;    
    color: lavender;
    font-weight: 500;
}

#profilePic {
    max-height: 200px;
    padding-top: 20px;
    border-radius: 230px;
}

.aboutMe,
.bold {
    color: #e598be;
}

/**********************************************************************
projects
************************************************************************/
#projects {
    background-image: url('./img/projects.png');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw; 
    color: purple;
}

.computer {
    width: 400px;
    border-radius: 20%;
}

@media screen and (max-width: 960px) {
    .computer {
        width: 300px;
    }    
}

@media screen and (max-width: 520px) {
    .computer {
        width: 200px;
    }    
}

.comingSoon {
    width: 180px;
    border-radius: 20%;
}

.currently {
    color: #004080;
    font-style: italic;
    text-decoration: underline;
}
.title {
    color: white;
}

.description {
    color: #e598be
}

.project {
    background-color: rgba(128, 0, 128, 0.624);
    border-radius: 40%;
}

.link {
    color: #e598be;
    text-decoration-color: purple;
    font-weight: 700;
    font-style: italic;
}

/**********************************************************************
testimonials
************************************************************************/

#testimonials {
    background-image: url('./img/testimonials.png');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    color: white;
}

.top {
    padding-top: 140px;
}

.name {
    color: purple;
}

.testPeep {
    border-radius: 40%;
    filter: grayscale(100%);
    max-width: 50%;
}

.quote {
    max-width: 5rem;
}

/**********************************************************************
mystory
************************************************************************/
#myStory {
    background-image: url('./img/myStory.png');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    color: white;
}

.pic {
    width: 350px;
}

@media screen and (max-width: 960px) {
    .pic {
        width: 300px;
    }    
}

@media screen and (max-width: 520px) {
    .pic {
        width: 200px;
    }    
}

.round {
    border-radius: 40%;
}

/**********************************************************************
skills and tools
************************************************************************/
#skillsTools {
    background-image: url('./img/skillsTools.png');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon {
    background-color: #e598bf70;
    border-radius: 15%;
    padding: 0.25rem;
}

.currentlyExp {
    font-style: italic;
    text-decoration: underline;
}

/**********************************************************************
contact
************************************************************************/

#contact {
    background-image: url('./img/contact.png');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#formContain {
    text-align: center;
    padding-top: 25px;
}

.containerIcons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.containerIcons .boxIcon {
    height: 140px;
}

.iconMini {
    opacity: 0.7;
    background-color: transparent;
}

.iconMini:hover {
    opacity: 1;
}

.round {
    border-radius: 30%;
}

.contactIcons {
    padding: 3rem
}